<head>
    <title>Covid Vaccine Track | World - All country DATA</title>
    <meta http-equiv="Cache-control" content="no-cache">
    <link rel="icon" href="../Images/syringe.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Style/style.css">
  </head>
  <body>
    <nav class="navbar fixed-top bg-light navbar-light" style="font-family: 'Lato', sans-serif;">
        <div class="container">
          <a id="navLogo" class="navbar-brand topTitle" href="../index.html"><img src="../Images/Logo.png" width="160px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <span class="navbar-text" style="float:right;">
              <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <center>
                  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                  <a class="a2a_button_facebook"></a>
                  <a class="a2a_button_whatsapp"></a>
                  <a class="a2a_button_twitter"></a>
                  <a class="github-btn" href="https://github.com/FlavioAdamo/Covid-Vaccines-Tracker">
                    <img class="github-img nav" src="../Images/github-mark.png" data-toggle="tooltip" data-placement="bottom" title="Contribute on GitHub!">
                  </a>
                </center>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
              </div>
            </span>
          </div>
      </nav>
      <br>
      
      <div class="data mt-5 " >
        <h1 class="text-center">Contributors</h1>
        <div class="row px-5">
          <div class="col-md-8 col-lg-6 col-sm-12 mx-auto p-3" id="contrList">
            <template id="contrTemplate">
                <div class="card m-3">
                  <div class="card-body">
                    <img src="{{userIcon}}" class="float-left rounded-circle mr-2" width="50" height="50">
                    <div class="px-md-5 mx-md-5 mx-sm-2 px-sm-2">
                      <h5><a href="{{userName}}">{{userName}}</a></h5>
                      <h6 class="text-secondary">Contributor</h6>
                    </div>
                  </div>
                </div>
            </template>
          </div>
        </div>
      </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../Script/contributors.js"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>
  </body>