<head>
  <title>Covid Vaccine Track | World - All country DATA</title>
  <meta http-equiv="Cache-control" content="no-cache">
  <link rel="icon" href="../Images/syringe.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../Style/style.css">
</head>

<body>
  <nav class="navbar fixed-top bg-light navbar-light" style="font-family: 'Lato', sans-serif;">
    <div class="container">
      <a id="navLogo" class="navbar-brand topTitle" href="#"><img src="../Images/Logo.png" width="160px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <span class="navbar-text" style="float:right;">
          <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <center>
              <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
              <a class="a2a_button_facebook"></a>
              <a class="a2a_button_whatsapp"></a>
              <a class="a2a_button_twitter"></a>
              <a class="github-btn" href="https://github.com/FlavioAdamo/Covid-Vaccines-Tracker">
                <img class="github-img nav" src="Images/github-mark.png" data-toggle="tooltip" data-placement="bottom" title="Contribute on GitHub!">
              </a>
            </center>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
          </div>
        </span>
      </div>
  </nav>
  <br>

  <div style="padding-top: 60px;">
    <div class="container" id="country_counters">
      <template id="country_counters_template">
        <div class="row">
          <div class="col">
            <div class="groupList-title text-center" id="countryname"></div>
          </div>
        </div>
        <div class="row">
          <div class="four col-md-6" style="padding-top: 15px;">
            <div id="total_doses" class="counter-box green">
              <i class="fa fa-thumbs-o-up"></i>
              <span class="counter" id="totvalue">{{totvalue}}</span>
              <p>Vaccine administered</p>
            </div>
          </div>
          <div class="four col-md-6" style="padding-top: 15px;">
            <div id="people_vaccinated" class="counter-box blue">
              <i class="fa fa-thumbs-o-up"></i>
              <span class="counter" id="peopleVaccinated">{{peopleVaccinated}}</span>
              <p>People received at least one dose</p>
            </div>
          </div>
          <div class="col-6 col-md-6" style="padding-top: 15px;">
            <div id="vaccinated_percent" class="counter-box green-light">
              <i class="fa fa-thumbs-o-up"></i>
              <span class="counter2" id="totvaccinated">{{totvaccinated}}</span>
              <p>Of the population received<br> at least 1 dose of vaccine</p>
            </div>
          </div>
          <div class="col-6 col-md-6" style="padding-top: 15px;">
            <div id="fully_vaccinated_percent" class="counter-box blue-light">
              <i class="fa fa-thumbs-o-up"></i>
              <span class="counter1" id="fullyVaccinated">{{fullyVaccinated}}</span>
              <p>Of the population is<br> fully vaccinated</p>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
  <br>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../Script/country.js"></script>
  <script src="../Script/data.js"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
</body>